body {
  color: white;
  background: linear-gradient(to left, black, grey);
}
h1 {
  background: linear-gradient(to left, grey, black);
  color: rgb(232, 247, 245);
  /* font-family: Arial, Helvetica, sans-serif; */
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  border-radius: 15px;
  text-align: center;
  font-size: 55px;
  -webkit-text-stroke: 2px rgb(37, 83, 110);
}
h2 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background-color: rgb(4, 45, 62);
  border-left: 2px solid red;
  border-radius: 5px;
  padding-left: 1%;

  width: 60%;
  height: 50px;
  padding-top: 15px;
}
h3 {
  font-family:
    "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;
  background: linear-gradient(to right, black, grey);
  border-radius: 5px;
  border-left: 2px solid red;
  text-align: justify;
  padding-left: 1%;
}
h4 {
  margin: 30px 70px 30px 70px;
}

audio {
  width: 90%;
  box-shadow: 6px 7px 25px aqua;
  border-radius: 26px;
  margin: 0, auto;
}
.movie_section {
  width: 60%;
  /* margin-top: 35px; */
  /* margin: 35px auto; */
}
.img_trailer {
  width: 850px;
  padding: 10px;
  margin: 20px auto;
}
img,
iframe {
  border-radius: 16px;
  box-shadow: 6px 10px 29px rgb(15, 245, 241);
}
/* iframe { 
  border-radius: 16px;
  box-shadow: 6px 10px 29px rgb(15, 245, 241);
}
#end {
}
*/
